<%= content_for :page_title, "#{@blog.title} - GraceLife Medical Systems" %>
<%= content_for :page_type, "article" %>
<%= content_for :meta_description, "#{@blog.description}" %>
<meta property="og:site_name" content="GraceLife Medical Systems - Blog" />


<div class="container">
  <h2 class="text-center text-primary"><%= @blog.title %></h2>
</div>
<br>
<article>
  <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-1">
    <p><%= @blog.content.html_safe %></p>
  </div>
</article>
  <div class="row">
    <div class="col-md-4"><p class="text-center"><%= twitter_button %></p></div>
    <div class="col-md-4 text-center"><%= facebook_button %></div>
    <div class="col-md-4"><p class="text-center"><%= linkedin_button %></p></div>
  </div>
</div>